/*!
 * Marp default theme.
 *
 * @theme figures
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 * @size 8.5:14 850px 1400px
 */

@import 'default';


section {
    justify-content: flex-start;
    --orange: #ed7d31;
    --left: #66c2a5;
    --right: #fc8d62;
    --source: #8da0cb;
    --target: #e78ac3;
}

/* REF: https://github.com/yhatt/marp/issues/119 */
img {
    background-color: transparent !important;
    margin: 0px;
    padding: 0px;
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

img[alt~="icon"] {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: middle;
    height: 30px;
}

img[alt~="person"] {
    width: 100px;
    height: 100px;
    object-fit: cover;
    text-align: center;
    padding-top: 10px;
}


.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 1rem;
}

.columns-bl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.columns-nospace {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 0;
}

.social_icons {
    padding: 0em;
    display: inline-block;
    vertical-align: top;
}

.minipanels {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 0.5rem;
    /* margin: 0 auto; */
}



section {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 0.8em;
    color: black;
    padding: 0;
    margin: 0;
}


.center {
    /* margin: auto; */
    /* width: 90%; */
    text-align: center;
}

.columns2-bl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.columns-br {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}


/* adds total slides to paginate */
section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}