/*!
 * Marp default theme.
 *
 * @theme slides
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 * @size 8.5:11 960px 1120px
 */

@import 'default';


section {
    justify-content: flex-start;
    --orange: #ed7d31;
    --left: #66c2a5;
    --right: #fc8d62;
    --source: #8da0cb;
    --target: #e78ac3;
}

/* REF: https://github.com/yhatt/marp/issues/119 */
img {
    background-color: transparent !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* padding-top: 20px; */
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

img[alt~="icon"] {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: middle;
    height: 30px;
}

img[alt~="person"] {
    width: 100px;
    height: 100px;
    object-fit: cover;
    text-align: center;
    padding-top: 10px;
}


.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 1rem;
}

.columns-bl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.columns-nospace {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 0;
}

.social_icons {
    padding: 0em;
    display: inline-block;
    vertical-align: top;
}

.minipanels {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    gap: 0.5rem;
    /* margin: 0 auto; */
}

/* html,
body {
    margin: 100px;
    padding: 100px;
} */


section {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    /* margin: 10px; */
    /* margin-left: 100px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin-top: 0.0em; */
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 0.0em;
    margin-top: 0.0em;
    /* background-color: #66c2a5; */
}

h1 {
    padding-top: 30px;
    /* padding-bottom: 20px; */
    /* top: 0px; */
    /* margin-top: 0; */
    /* padding-top: 0; */
}

h2 {
    padding-top: 10px;
}

hr {
    height: 0;
    padding-top: 0.0em;
}

header {
    top: 0px;
}


.center {
    /* margin: auto; */
    /* width: 90%; */
    text-align: center;
}

.columns2-bl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.columns-br {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}


/* adds total slides to paginate */
section::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}